{% extends "home/template.html" %}
{% load static %}



{% block title %}Главная{% endblock %}

{% block main %}
    <h1>Добро пожаловать в CinemaПарк!</h1>
    <p>CinemaПарк — это сеть современных кинотеатров, предлагающая широкий выбор фильмов, удобные залы и комфортные условия для просмотра.</p>
    <h2>Наши услуги:</h2>
    <ul>
        <li>Показ новинок кино</li>
        <li>Комфортабельные залы</li>
        <li>Кафе и бары с разнообразным меню</li>
        <li>Специальные предложения для групп</li>
    </ul>
    <h2>Следите за нашими новинками!</h2>
    <p>Подписывайтесь на наши социальные сети и будьте в курсе всех событий и акций.</p>
{% endblock %}