* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #000000; /* Полностью черный фон */
    color: #ffffff; /* Белый текст */
}

header {
    display: flex; /* Используем flexbox для выравнивания элементов в одну линию */
    justify-content: center; /* Центрируем все элементы в заголовке */
    align-items: center; /* Вертикальное выравнивание элементов */
    background-color: #1a1a1a; /* Темно-серый цвет для заголовка */
    padding: 20px 0; /* Добавляем отступы сверху и снизу */
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); /* Легкая тень */
}


.navbar {
    display: flex; /* Используем flexbox для выравнивания ссылок в одну линию */
    justify-content: center; /* Центрируем элементы */
    align-items: center; /* Вертикальное выравнивание элементов */
    margin-right: 20px; /* Отступ справа для отделения от выпадающего меню */
}

.navbar a {
    color: #ffffff; /* Белый цвет текста */
    margin: 0 20px;
    text-decoration: none;
    font-weight: 500; /* Устанавливаем фиксированный вес шрифта */
    transition: color 0.3s, font-weight 0.3s ease; /* Плавный переход для цвета и веса шрифта */
    position: relative; /* Для позиционирования псевдоэлемента */
    padding: 5px 0; /* Добавление вертикальных отступов для улучшения выравнивания */
    display: inline-block; /* Позволяет использовать transform без сдвига */
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; /* Расстояние от текста до линии */
    width: 0;
    height: 2px; /* Толщина линии */
    background: #ffffff; /* Белый цвет линии */
    transition: width 0.3s ease, left 0.3s ease; /* Плавный переход для линии */
    transform: translateX(-50%); /* Центрирование линии под текстом */
}

.navbar a:hover {
    color: #ffffff; /* Белый цвет текста при наведении */
    font-weight: 500; /* Убираем изменение веса шрифта */
    transform: none; /* Убираем изменение размера */
}

.navbar a:hover::after {
    width: 100%; /* Ширина линии при наведении */
    left: 50%; /* Сдвиг линии влево */
}

.navbar i {
    font-size: 20px; /* Увеличьте размер иконки */
    color: #ffffff; /* Белый цвет иконки */
    margin-left: 15px; /* Отступ слева для отделения от текста */
    vertical-align: middle; /* Выравнивание по центру относительно текста */
    transition: color 0.3s, transform 0.3s; /* Плавный переход для цвета и увеличения */
}

.navbar a:hover i {
    color: #ffffff; /* Белый цвет иконки при наведении */
    transform: none; /* Убираем изменение размера */
}

.content {
    width: 80%; /* Занимает всю ширину */
    margin: 40px auto;
    padding: 20px;
    background: #1a1a1a; /* Темно-серый фон для контента */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1); /* Легкая тень */
    transition: box-shadow 0.3s; /* Плавный переход для тени */
}



h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center; /* Центрирование заголовка */
    color: #ffffff; /* Золотистый цвет заголовка */
    font-weight: 500; /* Устанавливаем фиксированный вес шрифта */
    transition: font-weight 0.3s; /* Плавный переход для веса шрифта */
}

h1:hover {
    font-weight: 500; /* Убираем изменение веса шрифта */
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    color: #ffffff; /* Золотистый цвет подзаголовка */
    font-weight: 500; /* Устанавливаем фиксированный вес шрифта */
    transition: font-weight 0.3s; /* Плавный переход для веса шрифта */
}

h2:hover {
    font-weight: 500; /* Убираем изменение веса шрифта */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #2c2c2c; /* Темно-серый фон для элементов списка */
    margin: 10px 0;
    padding: 15px; /* Увеличение отступа */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); /* Легкая тень */
    transition: transform 0.3s, background 0.3s; /* Плавный переход для фона и увеличения */
}

ul li:hover {
    background: #3c3c3c;
}