* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;

}

body h1 {
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.navbar a {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, font-weight 0.3s ease;
    position: relative;
    padding: 5px 0;
    display: inline-block;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.navbar a:hover {
    color: #ffffff;
    font-weight: 500;
    transform: none;
}

.navbar a:hover::after {
    width: 100%;
    left: 50%;
}

.navbar i {
    font-size: 20px;
    color: #ffffff;
    margin-left: 15px;
    vertical-align: middle;
    transition: color 0.3s, transform 0.3s;
}

.navbar a:hover i {
    color: #ffffff;
    transform: none;
}

.content {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s;
}




h2 {
    font-size: 1.8em;
    margin-top: 30px;
    font-weight: 500;
    transition: font-weight 0.3s;
}

h2:hover {
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #2c2c2c;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, background 0.3s;
}

ul li:hover {
    background: #3c3c3c;
}

/* Стили для контейнера фильмов */
.popular-movies .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Стили для карточек фильмов */
.popular-movies .movie-card {
    background: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.popular-movies .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 30px rgba(255, 255, 255, 0.2);
}

/* Стили для изображений фильмов */
.popular-movies .movie-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Стили для заголовков фильмов */
.popular-movies .movie-title {
    font-size: 1.5em;
    margin: 10px 0;
    transition: font-weight 0.3s;
}

.popular-movies .movie-title:hover {
    font-weight: 700;
}

/* Стили для жанра, страны и рейтинга */
.popular-movies .movie-genre,
.popular-movies .movie-country,
.popular-movies .movie-rating {
    font-size: 1em;
    margin: 5px 0;
}

/* Стили для ссылок на фильмы */
.popular-movies .movie-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.fa-regular.fa-user {
    cursor: pointer;
}


/*  СВЕТЛАЯ ТЕМА */
.light-theme {
    background: #ffffff;
    color: #000000;
}

.light-theme header {
    background-color: #f0f0f0;
}

.light-theme .content {
    background: #ffffff;
    color: #000000;
}

.light-theme ul li {
    background: #e0e0e0;
}

.light-theme .popular-movies .movie-card {
    background: #f0f0f0;
}

.light-theme .popular-movies .movie-title,
.light-theme .popular-movies .movie-genre,
.light-theme .popular-movies .movie-country,
.light-theme .popular-movies .movie-rating {
    color: #000000;
}