body {
    background-color: #000000; /* Черный фон для всей страницы */
    color: #ffffff; /* Белый цвет текста */
    font-family: 'Roboto', sans-serif; /* Шрифт для текста */
    margin: 0;

}

h2 {
    font-size: 2em; /* Размер заголовка */
    margin-bottom: 15px; /* Отступ снизу */
    color: #ffffff; /* Белый цвет заголовка */
    text-align: center; /* Центрирование заголовка */
}

section {
    background-color: #1a1a1a; /* Темно-серый фон для секций */
    border-radius: 8px; /* Закругление углов */
    padding: 20px; /* Внутренние отступы */
    margin: 20px 0; /* Отступы между секциями */
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1); /* Легкая тень */
}

p {
    font-size: 1em; /* Размер текста */
    margin: 10px 0; /* Отступы между абзацами */
    color: #cccccc; /* Светло-серый цвет для текста */
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

ul li {
    background: #2c2c2c; /* Темно-серый фон для элементов списка */
    margin: 10px 0; /* Отступы между элементами списка */
    padding: 10px; /* Внутренние отступы */
    border-radius: 5px; /* Закругление углов */
    transition: background 0.3s; /* Плавный переход для фона */
}

ul li:hover {
    background: #3c3c3c; /* Изменение фона при наведении */
}
