
.center-container {
    display: flex;
    flex-direction: column; /* Располагает элементы в колонку */
    align-items: center; /* Центрирует элементы по горизонтали */
    text-align: center; /* Центрирует текст внутри блока */
}

h1 {
    margin-bottom: 20px; /* Добавляет отступ снизу для заголовка */
}

.order-button {
    display: flex;
    scale: 120%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #0084ff, #003fb3); /* Яркий синий градиент */
    color: #ffffff;
    font-weight: bold; /* Жирный текст */
    text-decoration: none;
    border-radius: 5px;
    background-size: 200% 100%; /* Увеличиваем размер градиента */
    transition: background-position 0.5s ease; /* Плавный переход */
}

.order-button:hover {
    background-position: right; /* Перемещаем градиент вправо при наведении */
    transition: background-position 0.5s ease; /* Плавный переход фона при наведении */
}