.movie-detail {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #444; /* Темная рамка */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); /* Легкая тень */
    background-color: #1a1a1a; /* Темный фон */
    color: #ffffff; /* Белый цвет текста */
}

.movie-poster {
    flex: 1;
    padding: 10px;
}

.movie-poster img {
    max-width: 100%;
    border-radius: 8px;
}

.movie-info {
    flex: 2;
    padding: 20px;
}

.movie-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff; /* Белый цвет заголовка */
}

.movie-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #cccccc; /* Светло-серый цвет для текста */
}

.genre, .release-date, .rating, .duration, .filmmaker, .actors, .country {
    font-weight: bold;
    color: #ffffff; /* Белый цвет для выделенных элементов */
}

.description {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #cccccc; /* Светло-серый цвет для описания */
}

.my-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745; /* Зеленый цвет */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.my-button:hover {
    background-color: #218838; /* Темнее зеленый при наведении */
}

.my-button:active {
    background-color: #1e7e34; /* Еще темнее при нажатии */
}

.my-button:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5); /* Добавляем тень при фокусе */
}
