/* Приведение к единому стилю */
html {
    overflow-y: scroll;
}



.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px; /* Отступы вокруг контейнера */
}

.movie-card {
    background: #1a1a1a;
    border-radius: 8px;
    /* box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1); */
    border-color: snow;
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
    /* box-shadow: 0 6px 30px rgba(255, 255, 255, 0.2); */
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #ffffff;
}



.movie-genre,
.movie-country,
.movie-rating {
    font-size: 1em;
    margin: 5px 0;
    color: #cccccc;
}

.movie-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.movie-link:hover {
    color: #ffffff;
}

form {
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: center; /* Центрирование элементов по горизонтали */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку при необходимости */
    margin: 20px 0;
}

.search-input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 200px; /* Уменьшена ширина для компактности */
    font-size: 1em;
    transition: border-color 0.3s;
    margin-right: 10px; /* Отступ справа для разделения с кнопкой */
}
.search-input:focus {
    border-color: #50e3c2; /* Цвет рамки при фокусе */
    outline: none;
}





.search-button {
    scale: 120%;
    display: inline-block;
    margin-top: 0px;
    margin-left: 5px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #0091ff, #003fb3); /* Яркий синий градиент */
    color: #ffffff;
    font-weight: bold; /* Жирный текст */
    text-decoration: none; /* Убираем подчеркивание */
    border: none; /* Убираем стандартную рамку кнопки */
    border-radius: 5px;
    background-size: 200% 100%; /* Увеличиваем размер градиента */
    transition: background-position 0.5s ease; /* Плавный переход */
    cursor: pointer; /* Указатель при наведении */
}

.search-button:hover {
    background-position: right; /* Перемещаем градиент вправо при наведении */
    transition: background-position 0.5s ease; /* Плавный переход фона при наведении */
}








.red-button {
    display: inline-block;
    margin-top: 0px;
    margin-left: 5px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff3d00, #b30000);/* Яркий синий градиент */
    color: #ffffff;
    font-weight: bold; /* Жирный текст */
    text-decoration: none; /* Убираем подчеркивание */
    border: none; /* Убираем стандартную рамку кнопки */
    border-radius: 5px;
    background-size: 200% 100%; /* Увеличиваем размер градиента */
    transition: background-position 0.5s ease; /* Плавный переход */
    cursor: pointer; /* Указатель при наведении */
}

.red-button:hover {
    background-position: right; /* Перемещаем градиент вправо при наведении */
    transition: background-position 0.5s ease; /* Плавный переход фона при наведении */
}




.checkbox-group {
    display: flex;
    align-items: center; /* Центрирование чекбоксов по вертикали */
    margin-left: 10px; /* Отступ слева для отделения от кнопки */
}

.checkbox-group label {
    margin-right: 10px; /* Отступ между чекбоксами */
    color: #ffffff; /* Цвет текста для чекбоксов */
}
