{% extends "home/template.html" %}
{% load static %}

{% block title %}Кинотеатры{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'cinemas/css/cinemas.css' %}">
{% endblock %}


{% block main %}
    <h1 class="active-movies-title">Кинотеатры</h1>
    <div class="cinemas">
        {% for cinema in cinemas %}
            <div class="cinema-card">
                {% if cinema.image %}
                    <img src="{{ cinema.image.url }}" alt="{{ cinema.name }}" class="cinema-image" />
                {% endif %}
                <h2 class="cinema-title">{{ cinema.name }}</h2>
                <p class="cinema-genre">Жанр: {{ cinema.rating }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}